/*#region img flag national */
.dropdown-menu >
li .menu > li > a > div > img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}

/*#endregion */

/*#region MealControlCanteen MenuItem */
.product-thumb {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px 10px;
    border-radius: 10px;
}

    .product-thumb img {
        border-radius: 50%;
        border: 4px solid #3c8dbc;
        background: #fff;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
    }

    .product-thumb .item-name {
        font-weight: 600;
        color: #e54c2a;
        font-size: 16px;
    }

    .product-thumb .meal-name {
        font-weight: 600;
        color: #000;
        margin: 15px 0 12px;
    }

/*#endregion */

/*#region Upload file */
.file-upload-container {
    position: relative;
}

    .file-upload-container label {
        max-width: none !important;
    }

    .file-upload-container .help-block {
        line-height: 20px;
        color: Gray !important;
        font-style: italic;
        font-size: 11px;
        font-weight: normal;
    }

    .file-upload-container input[type="file"] {
        font-size: 11px;
        height: 28px;
        line-height: 18px;
        width: 180px;
        padding: 4px;
        margin: 3px 0;
        background-color: #486B91;
        border-color: #486B91;
        border-radius: 3px;
        color: white;
        vertical-align: middle;
        display: inline-block;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        background-image: linear-gradient(to bottom, #5B7EA4, #3c8dbc);
        border: 1px solid #bbbbbb;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .file-upload-container a > img {
        width: 179px;
        max-width: 179px;
        height: 100px;
        padding: 4px;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .file-upload-container .input-group-addon {
        padding: 0 !important;
    }

    .file-upload-container .file-upload-url-remove {
        border-radius: 0 !important;
    }

    .file-upload-container
    span.file-upload-thumb-remove {
        position: absolute;
        border-color: #486B91;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0,0,0,0.25);
        vertical-align: middle;
        cursor: pointer;
        background-color: #3c8dbc;
        left: 164px;
        top: 0px;
        z-index: 999;
        border-radius: 0 0 0 50%;
        height: 24px !important;
        color: white !important;
        margin-top: 0px;
        font-size: 13px !important;
        font-style: normal;
        padding: 2px 10px 6px 10px;
    }

    .file-upload-container .full-file-url {
        border-radius: 5px 0 0 5px;
    }

.mce-branding-powered-by {
    display: none;
}

.panel-title a {
    display: block;
    width: 100%;
    height: 100%;
}

/*#endregion */

/*#region Select-2 */
.select2-container--default .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px;
}
/*#endregion */

/*#region Modal */
.modal-content {
    background-color: azure;
}
/*#endregion */

/*#region Button More */
.btn-more {
    background-color: transparent;
    border-color: transparent;
    color: blue
}

/*#endregion */


/*#region Loading */
.main-loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #4d6172;
    opacity: 0.8;
    z-index: 9999;
    display: none;
}

    .main-loading .lds-roller {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }


.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #fff;
            margin: -4px 0 0 -4px;
        }

        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }

            .lds-roller div:nth-child(1):after {
                top: 63px;
                left: 63px;
            }

        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }

            .lds-roller div:nth-child(2):after {
                top: 68px;
                left: 56px;
            }

        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }

            .lds-roller div:nth-child(3):after {
                top: 71px;
                left: 48px;
            }

        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }

            .lds-roller div:nth-child(4):after {
                top: 72px;
                left: 40px;
            }

        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }

            .lds-roller div:nth-child(5):after {
                top: 71px;
                left: 32px;
            }

        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }

            .lds-roller div:nth-child(6):after {
                top: 68px;
                left: 24px;
            }

        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }

            .lds-roller div:nth-child(7):after {
                top: 63px;
                left: 17px;
            }

        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }

            .lds-roller div:nth-child(8):after {
                top: 56px;
                left: 12px;
            }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*#endregion */


/*#region loading delay */

/*Loading*/
.main-loading-delay {
    width: 100%;
    height: 100%;
    background-color: #2d2424;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 9998;
}

.lds-ripple {
    position: fixed;
    display: inline-block;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

    .lds-ripple div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .lds-ripple div:nth-child(2) {
            animation-delay: -0.5s;
        }

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


/*#endregion */



/*#region FSComputerAdd */
.modal-body .ComputerAdd {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .modal-body .ComputerAdd td, th {
        border: 1px solid rgba(0, 0, 0, 0.25);
        text-align: left;
        padding: 8px;
    }


    .modal-body .ComputerAdd tr:nth-child(even) {
        background-color: #dddddd;
    }
