<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=FVN-PC-IT-07\SQLLOCAL;Database=UserManager;UID=sa;Password=12345678;" providerName="System.Data.SqlClient" />
    <add name="localhost_MenuManager_Connection" connectionString="XpoProvider=MSSqlServer;data source=FVN-PC-IT-07\SQLLOCAL;user id=;password=;initial catalog=MenuManager;Persist Security Info=true" />
    <add name="UserManagerConnection" connectionString="Data Source=FVN-PC-IT-07\SQLLOCAL;Database=UserManager;UID=sa;Password=12345678; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="MealControlConnection" connectionString="Data Source=FVN-PC-IT-07\SQLLOCAL;Database=MealControl;UID=sa;Password=12345678; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="MenuManagerConnection" connectionString="Data Source=FVN-PC-IT-07\SQLLOCAL;Database=MenuManager;UID=sa;Password=12345678; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="HumanResourceConnection" connectionString="Data Source=FVN-PC-IT-07\SQLLOCAL;Database=HumanResource;UID=sa;Password=12345678; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="FingerScanConnection" connectionString="Data Source=FVN-PC-IT-07\SQLLOCAL;Database=FingerScan;UID=sa;Password=12345678; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="OEEMSConnection" connectionString="Data Source=FVN-PC-IT-07\SQLLOCAL;Database=OEEMS;UID=sa;Password=12345678; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <!--Hoanc Add  String Connect To Winline 210-->
    <add name="dbVNT86" connectionString="Data Source=server210;Initial Catalog=VNT86;User ID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="dbVNL86" connectionString="Data Source=server210;Initial Catalog=VNL86;User ID=sa;Password=Fdw24$110;" providerName="System.Data.SqlClient" />
    <add name="dbSCI" connectionString="Data Source=server211;Initial Catalog=SCP;User ID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535" providerName="System.Data.SqlClient" />
    <!--END Hoanc-->
    <add name="MenuManagerEntities (FramasVietNam)" connectionString="xpoprovider=MSSqlServer;data source=FVN-PC-IT-07\SQLLOCAL;initial catalog=MenuManager;multipleactiveresultsets=True;application name=EntityFramework" />
    <add name="FingerScanEntities" connectionString="metadata=res://*/Models.FingerScan.FingerScan.csdl|res://*/Models.FingerScan.FingerScan.ssdl|res://*/Models.FingerScan.FingerScan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FVN-PC-IT-07\SQLLOCAL;initial catalog=FingerScan;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HumanResourceEntities" connectionString="metadata=res://*/Models.HumanResource.HumanResource.csdl|res://*/Models.HumanResource.HumanResource.ssdl|res://*/Models.HumanResource.HumanResource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FVN-PC-IT-07\SQLLOCAL;initial catalog=HumanResource;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MealControlEntities" connectionString="metadata=res://*/Models.Meal.MealControl.csdl|res://*/Models.Meal.MealControl.ssdl|res://*/Models.Meal.MealControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FVN-PC-IT-07\SQLLOCAL;initial catalog=MealControl;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MenuManagerEntities" connectionString="metadata=res://*/Models.Menu.MenuManager.csdl|res://*/Models.Menu.MenuManager.ssdl|res://*/Models.Menu.MenuManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FVN-PC-IT-07\SQLLOCAL;initial catalog=MenuManager;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SCPEntities" connectionString="metadata=res://*/Models.SCP.SCP.csdl|res://*/Models.SCP.SCP.ssdl|res://*/Models.SCP.SCP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server211;initial catalog=SCP;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BarcodeScannerEntities" connectionString="metadata=res://*/Models.BarcodeScanner.BarcodeScanner.csdl|res://*/Models.BarcodeScanner.BarcodeScanner.ssdl|res://*/Models.BarcodeScanner.BarcodeScanner.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server210;initial catalog=BarcodeScanner;persist security info=True;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OEEMSEntities" connectionString="metadata=res://*/Models.OEEMS.OEEMS.csdl|res://*/Models.OEEMS.OEEMS.ssdl|res://*/Models.OEEMS.OEEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FVN-PC-IT-07\SQLLOCAL;initial catalog=OEEMS;user id=sa;password=12345678;pooling=True;min pool size=0;max pool size=1000;multipleactiveresultsets=True;connect timeout=65535;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VNT86Entities" connectionString="metadata=res://*/Models.VNT86.VNT86.csdl|res://*/Models.VNT86.VNT86.ssdl|res://*/Models.VNT86.VNT86.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server210;initial catalog=VNT86;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserManagerEntities" connectionString="metadata=res://*/Models.UserManager.UserManager.csdl|res://*/Models.UserManager.UserManager.ssdl|res://*/Models.UserManager.UserManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FVN-PC-IT-07\SQLLOCAL;initial catalog=UserManager;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=APP01;Database=UserManager;UID=sa;Password=Fdw24$110;" providerName="System.Data.SqlClient" />
    <add name="localhost_MenuManager_Connection" connectionString="XpoProvider=MSSqlServer;data source=APP01;user id=;password=;initial catalog=MenuManager;Persist Security Info=true" />
    <add name="UserManagerConnection" connectionString="Data Source=APP01;Database=UserManager;UID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="MealControlConnection" connectionString="Data Source=APP01;Database=MealControl;UID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="MenuManagerConnection" connectionString="Data Source=APP01;Database=MenuManager;UID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="HumanResourceConnection" connectionString="Data Source=APP01;Database=HumanResource;UID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="FingerScanConnection" connectionString="Data Source=APP01;Database=FingerScan;UID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="OEEMSConnection" connectionString="Data Source=APP01;Database=OEEMS;UID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    --><!--Hoanc Add  String Connect To Winline 210--><!--
    <add name="dbVNT86" connectionString="Data Source=server210;Initial Catalog=VNT86;User ID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535;" providerName="System.Data.SqlClient" />
    <add name="dbVNL86" connectionString="Data Source=server210;Initial Catalog=VNL86;User ID=sa;Password=Fdw24$110;" providerName="System.Data.SqlClient" />
    <add name="dbSCI" connectionString="Data Source=server211;Initial Catalog=SCP;User ID=sa;Password=Fdw24$110; Min Pool Size=0;Max Pool Size=1000;Pooling=true; Connect Timeout=65535" providerName="System.Data.SqlClient" />
    --><!--END Hoanc--><!--
    <add name="MenuManagerEntities (FramasVietNam)" connectionString="xpoprovider=MSSqlServer;data source=APP01;initial catalog=MenuManager;multipleactiveresultsets=True;application name=EntityFramework" />
    <add name="FingerScanEntities" connectionString="metadata=res://*/Models.FingerScan.FingerScan.csdl|res://*/Models.FingerScan.FingerScan.ssdl|res://*/Models.FingerScan.FingerScan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APP01;initial catalog=FingerScan;persist security info=True;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HumanResourceEntities" connectionString="metadata=res://*/Models.HumanResource.HumanResource.csdl|res://*/Models.HumanResource.HumanResource.ssdl|res://*/Models.HumanResource.HumanResource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APP01;initial catalog=HumanResource;persist security info=True;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MealControlEntities" connectionString="metadata=res://*/Models.Meal.MealControl.csdl|res://*/Models.Meal.MealControl.ssdl|res://*/Models.Meal.MealControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APP01;initial catalog=MealControl;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MenuManagerEntities" connectionString="metadata=res://*/Models.Menu.MenuManager.csdl|res://*/Models.Menu.MenuManager.ssdl|res://*/Models.Menu.MenuManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APP01;initial catalog=MenuManager;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SCPEntities" connectionString="metadata=res://*/Models.SCP.SCP.csdl|res://*/Models.SCP.SCP.ssdl|res://*/Models.SCP.SCP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server211;initial catalog=SCP;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BarcodeScannerEntities" connectionString="metadata=res://*/Models.BarcodeScanner.BarcodeScanner.csdl|res://*/Models.BarcodeScanner.BarcodeScanner.ssdl|res://*/Models.BarcodeScanner.BarcodeScanner.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server210;initial catalog=BarcodeScanner;persist security info=True;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OEEMSEntities" connectionString="metadata=res://*/Models.OEEMS.OEEMS.csdl|res://*/Models.OEEMS.OEEMS.ssdl|res://*/Models.OEEMS.OEEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APP01;initial catalog=OEEMS;user id=sa;password=Fdw24$110;pooling=True;min pool size=0;max pool size=1000;multipleactiveresultsets=True;connect timeout=65535;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VNT86Entities" connectionString="metadata=res://*/Models.VNT86.VNT86.csdl|res://*/Models.VNT86.VNT86.ssdl|res://*/Models.VNT86.VNT86.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server210;initial catalog=VNT86;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserManagerEntities" connectionString="metadata=res://*/Models.UserManager.UserManager.csdl|res://*/Models.UserManager.UserManager.ssdl|res://*/Models.UserManager.UserManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APP01;initial catalog=UserManager;user id=sa;password=Fdw24$110;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->



  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
        <add assembly="DevExpress.Utils.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Data.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v19.2.Core, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v19.2.Core, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Mvc5.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v19.2.Web, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v19.2.Web.WebForms, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Pdf.v19.2.Core, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Resources.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Charts.v19.2.Core, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.CodeParser.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.DataAccess.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Office.v19.2.Core, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.PivotGrid.v19.2.Core, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Sparkline.v19.2.Core, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Xpo.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraGauges.v19.2.Core, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7" maxRequestLength="1048576" requestValidationMode="4.0" executionTimeout="3600" />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false" />
      <add validate="false" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add validate="false" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpHandlers>
    <globalization culture="" uiCulture="" />
    <pages validateRequest="true" clientIDMode="Predictable">
      <namespaces>
        <add namespace="DevExpress.Utils" />
        <add namespace="DevExpress.Web.ASPxThemes" />
        <add namespace="DevExpress.Web" />
        <add namespace="DevExpress.Web.Mvc" />
        <add namespace="DevExpress.Web.Mvc.UI" />
        <add namespace="DevExpress.XtraReports" />
        <add namespace="DevExpress.XtraReports.UI" />
        <add namespace="DevExpress.XtraReports.Web" />
        <add namespace="DevExpress.XtraReports.Web.DocumentViewer" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" />
      <add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <devExpress>
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="DevEx" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="Bootstrap3" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>