@using FramasVietNam.Common
@{
    var lst_KeyPost = mFunction.ToString(ViewBag.lst_KeyPost);
}
<div class="modal-body">

    @using (Html.BeginForm("TestPage", "EmptyPage", FormMethod.Post))
    {
        <div style="overflow-x:auto; background-color:white; padding:20px">
            <button id="btn1" name="btn1">Test onclick submit</button>

            <a id='a' href='#' onClick="a_onClick()"> aaa </a>

            @Html.TextBox("Content", null, new { @class = "form-control", @placeholder = @Language.label("Content") })
            <h1>@lst_KeyPost</h1>
        </div>
    }

</div>

<script type="text/javascript">
    function a_onClick() {
        alert('a_onClick');

        $("#btn1").click();
    }
        //$(function () {
        //    $('#btn2').click(function () {


        //        $("#btn1").click();

        //        debugger;
        //        $('#modal-container').modal('hide');
        //    });
        //});

</script>
