@using FramasVietNam.Common
<footer class="main-footer">
    <div style="background-color:#374850; margin: auto;">
        <div style="height:22px;color:white">
            <strong>© @DateTime.Now.ToString("dd/MMM/yyyy") - <a style="color:white" href="https://www.framas.com">Framas VietNam</a></strong>

            <div class="pull-right hidden-xs">
                <b>Version 1.0.0 &nbsp;</b>
            </div>
        </div>
    </div>
</footer>